li {
  padding: 5px;
  margin: 5px;
  background: #e7ecef;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.jumbotron {
  padding: 2rem 2rem;
}